<p id="notice"><%= notice %></p>

<h1>Details</h1>

<table border="3" >
  <thead>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Color</th>
  </tr>
  </thead>

  <tbody>
  <% @detail.each do |d| %>
    <tr>
      <td><%= d.name %></td>
      <td><%= d.price %></td>
      <td><%= d.description %></td>
      <td><%= d.color %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Product',details_path%>