<h1><%= @company.name %></h1>
<h2><%= @company.ticker_symbol %></h2>
<h3><%= @company.risk_factor %></h3>

<table>
  <thead>
  <tr>
    <th>Date</th>
    <th>Price</th>
  </tr>
  </thead>
  <tbody>
  <% @stock_prices.each do |p| %>
    <tr>
      <td><%= p.captured_at %></td>
      <td><%= p.price %></td>
    </tr>
  <% end %>
  </tbody>
</table>