<%=
  if notice
    notice
  end
%>
<h1>Login</h1>
<%= form_for @user,{:url => '/password',method: :post} do |f| %>
    <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %><br><br>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.submit 'Change Password' %>
    <%= link_to "Back",'/welcome',method: :get %>
  </div>
<%end %>